<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Saturday March 25, 2023 at 5:30PM</h2>
                <hr class="light">
                <p class="text-faded">
                    <a href = "https://www.google.com/maps/place/Birch+%26+Barley/@38.9084931,-77.031491,15z/data=!4m5!3m4!1s0x0:0xc2a8b27dd986029d!8m2!3d38.9084997!4d-77.0316995" class = "whitelink">Birch & Barley, 1337 14th St NW, Washington, DC 20005</a></p>
                <a href="#wedding_info" class="btn btn-default btn-xl">More info</a>
            </div>
        </div>
    </div>
</section>
