<section id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">FAQ</h2>
                <hr class="primary">
            </div>
            <div>
                <h3>What is the dress code?</h3>
                Dressy casual. Like what you'd wear to a nice restaurant!
                <h3>Are kids allowed?</h3>
                We love your kids + we love you, but we are going just adults for this.
                <h3>When do you need my RSVP?</h3>
                By February 12, please.
                <h3>Where should I stay?</h3>
                DC isn't that big, so really anywhere in the District or Northern Virginia will work, as long as you're willing to take a cab or public transit. We recommend folks book their hotels sooner rather than later since there is a change 3/25 overlaps with the beginning of <a href="https://cherryblossomwatch.com/2023-cherry-blossoms/">cherry blossom season</a>.
				<h3>How do I get to Birch + Barley?</h3>
				You can access the restaurant via the 52 and 54 buses (north/south) and G2 bus (east/west), several stops on the green and yellow Metro lines, bike share, and Uber/Lyft/DC cab. There is no convenient parking near the restaurant.
				<h3>When are you actually getting married?</h3>
				We plan to get married the afternoon of the 25th with just a small group of family in attendance.
				<h3>Can I bring a plus one?</h3>
				Refer to your invitation or just ask one of us! We are flexible but have to fit within venue constraints.
				<h3>What's the food situation?</h3>
				There will be a full dinner -- let us know any dietary restrictions when you RSVP.
				<h3>What's the beer situation?</h3>
				It's going to be dope as fuck. Check out B+B's current bottle menu <a href="https://www.birchandbarley.com/_files/ugd/0ef9e9_61efb63d437141dd88f0d4baa53327df.pdf">here</a>.
				<h3>What is your wedding hashtag?</h3>
				#schwenzfeierengelhardtwedding2023 (just kidding)
				<h3>Is that your van in the photo up above?</h3>
				Yes. We are sad to say Van Diesel, our large son, is too big to come to the reception.
            </div>
        </div>
    </div>

</section>
