<section id="registry">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Registry</h2>
                <hr class="primary">
            </div>
            <div>
                <h4>Drew + Meg are lucky to already have 1.5 households worth of furniture + kitchen appliances but if you'd like to give us a gift, we'd would so appreciate a <a href="https://registry.theknot.com/meg-schwenzfeier-drew-engelhardt-march-2023/58687569">contribution toward our honeymoon</a> or a donation to the <a href="https://give.wm.edu/?d=3679">William & Mary Government Program Opportunity Fund</a>, which supports student-faculty research.</h4>
            </div>

            <ul><h4>
            	<li><b><a href="https://registry.theknot.com/meg-schwenzfeier-drew-engelhardt-march-2023/58687569">Honeymoon: </a></b> We are hoping to do some bike touring in Europe this summer or next. Right now we're thinking we'll do one of the <a href="https://en.eurovelo.com/">Eurovelo routes</a>.

            <li><b><a href="https://give.wm.edu/?d=3679">W&M Government Program Opportunity Fund: </a></b>
                Getting the opportunity to conduct research with faculty while at William & Mary had a profound and positive impact on both of our lives -- this fund supports students and faculty through travel and political science research grants
            </h4></ul>


        </div>
    </div>

</section>
