<section id="things_to_do">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Things to do in DC</h2>
                <hr class="primary">
                
            </div>
            <div>
            	<h3>Sips + Snacks</h3>
            	<ul>
	            	<li><a href='https://www.trystdc.com'>Tryst: </a>coffee + good place to hang out
					<li><a href='https://bluejacketdc.com/'>Bluejacket Brewing: </a>good beer + good food
					<li><a href='https://www.rightproperbrewing.com/'>Right Proper: </a>beer + quality cheese plate
					<li><a href='https://www.ethiopicrestaurant.com/'>Ethopic: </a>Ethiopian food
					<li><a href='http://littlegranddc.com/'>The Little Grand: </a>pizza -- get "the square"!
					<li><a href='https://www.thipkhao.com/'>Thip Khao: </a>Lao food, beware of spice
					<li><a href='https://supradc.com/'>Supra: </a>Georgian (the country) food
					<li><a href='https://mahzedahrbakery.com/'>Mah-Ze-Dahr Bakery: </a>delicious pastries
					<li><a href='https://www.greatwallszechuan.com/'>Great Wall Szechuan: </a>home of Meg's favorite dish in the world -- ma po tofu (Drew gets the ma la Kung Pao)
					<li><a href='https://www.thegibsondc.com'>The Gibson: </a>speakeasy, go through to the back patio if it's nice weather
					<li><a href='http://www.daikaya.com/'>Daikaya: </a>ramen
				</ul>
            </div>
            <div>
            	<h3>Sees + Dos</h3>
            	<ul>
            		<li><a href='https://nmaahc.si.edu/'>National Museum of African American History and Culture: </a>the newest Smithsonian!
					<li><a href='https://airandspace.si.edu/'>National Air and Space Museum: </a> newly renovated!
					<li><a href='https://capitalbikeshare.com/'>Capital Bikeshare: </a>rent a bikeshare and ride around the mall
					<li><a href='https://www.nps.gov/subjects/cherryblossom/bloom-watch.htm'>Cherry blossoms: </a>they might be blooming! </a>
					<li><a href='https://movementgyms.com/crystal-city/'>Movement Climbing Gym: </a>bouldering
					<li><a href='https://www.tclf.org/landscapes/southwest-duck-pond'>Southwest Duck Pond: </a>visit our sometimes loud neighbors</a>
					<li><a href='http://kramers.com/'>Kramers: </a>great bookstore with a cafe/bar attached
            	</ul>
            </div>
        </div>
    </div>

</section>
