<section id="wedding_info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Wedding Info</h2>
                <hr class="primary">
                <h4>You're invited to a reception with dinner and drinks starting at 5:30pm on Saturday, March 25, 2023 at Birch & Barley restaurant in DC.</h4>
                <h4><b>5:30PM-7:15PM</b> Cocktail hour and beer tasting</h4>
                <h5>We'll have snacks, lots of beverages, and Birch & Barley will be running a beer tasting -- it'll be a great way to sample rare beers or styles you haven't tried before!</h5>
                <h4><b>7:15PM</b> Toasts</h4>
                <h4><b>7:30PM</b> Buffet style dinner</h4>
                <h4><b>9:30PM</b> Dessert</h4>
                <h4><b>11:00PM</b> A late night snack if we're still going strong</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3104.6771653600103!2d-77.03368504949059!3d38.90849725379529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b7ea5f22e011%3A0xc2a8b27dd986029d!2sBirch%20%26%20Barley!5e0!3m2!1sen!2sus!4v1673653283562!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
                On Sunday morning we will be posting up at <a href="https://goo.gl/maps/AJ2po1YvdmsC9zda9">Atlas Brew Works</a> (the location near Navy Yard) starting around 11am -- feel free to drop by!
            </div>
        </div>
    </div>

</section>
