<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include call-to-action.html %}
  {% include services.html %}
  {% include portfolio.html %}
  {% include aside.html %}
  {% include wedding_info.html %}
  {% include aside_small.html %}
  {% include faq.html %}
  {% include aside_small.html %}
  {% include things_to_do.html %}
  {% include aside_small.html %}
  {% include registry.html %}
  {% include aside_small.html %}
  {% include contact.html %}
  {% include aside_small.html %}
  {% include scripts.html %}

</body>

</html>